*{
          font-family: 'Dosis', sans-serif;          
}
body{
    background-image:url(../img/fondo.jpg);
    padding: 0;
     margin: 0;
}
a{
    color:white;
    padding: 10px;
    margin: 30px;
}
.menu-container{
    background: transparent;
} 
.text-uppercase{
    text-transform: uppercase;
}
.link{
     font-weight: bold; 
     padding: 5px; 
     font-size: 20px;
     text-decoration:none;
    display: inline-block;
}

header{
    position: fixed; 
    z-index: 1000;
    background: #26AD54;
    width: 100%;  
    
    
}
  
img{
    
    border-radius: 30px ;
} 
.gallery{
    margin-top: 150px;
}
#galeria{
    width: 200px;
    height: 200px;
    display:inline-flex;
    padding: 10px;
    margin: 10px;
}
#textORIGEN{
    top: 30px;
    background-image: url(../img/marco.jpg);background-size: 100%;
    display: inline-block;
    color: #0A4726;
    font-size: 1.5vw;
    margin: 20px;
    width: 40%;
    font-weight: bold;
    padding: 30px;
}
#textoextincion{
    /* margin-top: 0px; */
    background-image: url(../img/marco.jpg);    
    background-size: 100%;
    display: inline-block;
    color: #0A4726;
    font-size: 1.5vw;
    margin: 30px;
    width: 40%;
    font-weight: bold;
    padding: 30px;

}
#textos{
    height: 60vh;
}
#cajadetexto{

    display: inline-block;
    background-color: transparent;
    margin: 20px;
    padding: 30px;
}
#boton:hover{
    color: purple;
 }
#boton{
    margin-top: 40px;
    background-color: #26AD54;
    margin-right: 25px; 
    margin-left: 30px; 
    height: 40px; 
    width: 350px;
    border: 1px  solid #26AD54;
    display: inline-block;
    color: white;
    font-size: 18px;
}
div.cajapadre{
    display: inline-flex;

}
a:hover{
    color: #08524C;
    font-weight: bold;
}
.close{
    position: absolute;  
    margin-left: 30px;
    margin-top: 30px; 
    background-image: url(../img/close.gif); 
    width: 20px;
    height: 20px;
    background-size: 750%;
    background-position: center;
    border-radius: 20px;
    
}
#gif{
    width: 50px;
    height: 50px;
}

#ositogif{
    margin-top: 20%;
    position: absolute;;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* float: right; */
    margin-left:90%;
}
footer{
    background: #26AD54;
    padding: 20px;
    bottom: 0%;
    color: white;
}
#logo{
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
}