*{
       outline: 1px solid blue;   
}
body{
    /* height: 900px; */
     background: #1d1a05; 
     align-content: center;
}
p{
    color: white;
}

a{
    color: whitesmoke;
     /* text-decoration: none;  subrrayado */
    padding: 10px;
    margin: 40px;
}
a:hover{
    color: teal;
 }
.menu-container{
    background: transparent;
} 
.text-uppercase{
    text-transform: uppercase;
}
.link{
     font-weight: 700; 
     padding: 21px; 
    display: inline-block;
}

header{
    position: fixed; 

    background: #ca3c25;
    width: 100%;  
    top: 0;
    left: 0; 
}
.menu{
     padding: 14px 70px; 
     overflow: auto; 
}
img{
    border-radius:10px;
    border: 2px solid white;
} 
/* img:hover {
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
} */
.gallery{
    margin-top: 150px;
}
#galeria{
    
    width: 250px;
    height: 250px;
     
    display:inline-flex;
    padding: 20px;
    margin: 20px;
}
#texto{
    display:inline-block;
    color: white; 
    background-color: transparent;
    margin: 30px;
      width: 40%;
    padding: 20px;

}
#texto1{
    display: inline-block;
    color: white;
    margin: 30px;
    width: 40%;
    padding: 30px;

}
#cajadetexto{
    display: inline-block;
    background-color: transparent;
    margin: 20px;
    padding: 30px;
}
#boton{
    background-color: #ca3c25;
    margin-right: 35px;
    margin-left: 65px;
    height: 40px; 
    width: 300px;
    border: 1px  solid #ca3c25;
    display: inline-block;
    color: white;
    font-size: 18px;
    

}